---
#
# This file contains overrides to the pure.css framework v1.01 https://purecss.io/
# 
---
@charset "utf-8";


// reset box model for css3 grid
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// div { border: 1px dotted #999;}
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Nunito', sans-serif !default;
$font-family-serif:       'Playfair Display', serif !default;

// //** By default, this inherits from the `<body>`.
// $headings-font-family:    'Raleway', sans-serif !default;
// $headings-font-weight:    900 !default;
// $headings-line-height:    1.1 !default;
// $headings-color:          inherit !default;
// 
// //** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
// $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
// $font-family-base:        $font-family-sans-serif !default;
// 
// 
// 
// $font-size-base: 17px;
// $headings-font-weight: 600;
// $blockquote-font-size: $font-size-base;
// 
// // Our variables
// $base-font-family: 'Raleway', sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
// 
// $spacing-unit:     30px;
// 
// $text-color:       #562800;
// $background-color: #F4E9DF;
// $brand-color:      #2ae;
// 
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);
// 
// // Width of the content area
// $content-width:    800px;
// 
// $on-palm:          600px;
// $on-laptop:        800px;
// 
// body {
//     background-color:$background-color;
// }
// h1, h2, h3, h4, h5, h6 {
//     color: #222;
//     font-family: $font-family-sans-serif;
//     font-weight: $base-font-weight;
// }
// 
// h1 {
//     color: #222;
//     font-family: $font-family-serif;
//     font-weight: 700;
//     font-size: 3em;
// }
// 
// 
// p, li {
//     color: $text-color;
//     font-family: $font-family-sans-serif;
//     font-weight: $base-font-weight;
//     line-height: $line-height-base;
// 
// }
// 
// a {
//     color: $brand-color;
//     text-decoration: none;
// 
//     &:visited {
//         color: darken($brand-color, 15%);
//     }
// 
//     &:hover {
//         color: $text-color;
//         text-decoration: underline;
//     }
// }
// 
// ul {
//     list-style:none;
//     text-align: center;
//     padding:0;
//     margin:0;
// }
// 
// li {
// //    float: left;
//     margin:0;
//     padding: 0 1em 0 0;
//     text-align: left;
//     text-decoration: none;
// }


// some stuff from pure blog view
/* LAYOUT CSS 

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

*/