<img src="{{ case.image }}" alt="{{ case.alt_text }}" width="50%"/>

<h2>{{case.team }}</h2>
<p>{{ case.role }}</p>
<p>{{ case.role_timeframe }}</p>

<h4>Metadata</h4>

<ul>
<li>{{ case.budget }}</li>
<li>{{ case.project_timeframe }}</li>
</ul>

<ul>
{% for tag in case.tags %}
<li>{{ tag }}</li>
{% endfor %}
</ul>
<h3>Challenge</h3>
{% for thing in case.challenge.media %}
{% include media.html %}
{% endfor %}

<p>{{ case.challenge.description | markdownify }}</p>

<h3>Research</h3>
{% for thing in case.research.media %}
{% include media.html %}
{% endfor %}

<p>{{ case.research.description | markdownify }}</p>

<h3>Highlights</h3>
{% for thing in case.highlights.media %}
{% include media.html %}
{% endfor %}
<p>{{ case.highlights.description | markdownify }}</p>

<h3>Validation</h3>
{% for thing in case.validation.media %}
{% include media.html %}
{% endfor %}
<p>{{ case.validation.description | markdownify }}</p>

<h3>Learnings</h3>
{% for thing in case.learnings.media %}
{% include media.html %}
{% endfor %}
<p>{{ case.learnings.description | markdownify }}</p>

<h3>Results</h3>
{% for thing in case.results.media %}
{% include media.html %}
{% endfor %}
<p>{{ case.results.description | markdownify }}</p>
