{% assign case = site.data.work[case_index]%}
<!-- assume case is good -->

{% assign previous_index = site.data.work[case_index].id | minus:1 %}
{% if prev_ovr_index %}
    {% assign previous_index = prev_ovr_index %}
{% endif %}

{% assign next_index = site.data.work[case_index].id | plus:1 %}
{% if next_ovr_index %}
    {% assign next_index = next_ovr_index %}
{% endif %}
{% if next_index >= site.data.work.size %}
    {% assign next_index = 0 %}
{% endif %}
{% if previous_index < 0 %}
    {% assign previous_index = 0 %}
{% endif %}
{% assign previous = site.data.work[previous_index] %}
{% assign next = site.data.work[next_index] %}

<nav>
  <ul class="gallery">
      <li><a href="{{ site.baseurl }}{{ previous.url }}"><i class="fas fa-chevron-circle-left fa-3x"></i></a></li>
      <li><a href="{{ site.baseurl }}{{ next.url }}"><i class="fas fa-chevron-circle-right fa-3x"></i></a></li>
  </ul>
</nav>


<grid columns="8" columns-s="1">
<c span="row">
<img src="{{ case.image }}" alt="{{ case.alt_text }}" class="w-full"/>
</c>
</grid>

<grid columns="8" columns-s="1">
<c span="1-2">
<img src="{{ case.logo }}" alt="{{ case.alt_text }}" class="w-16 top" />
<h4>{{case.team }}</h4>
<p>{{ case.role }}</p>
</c>
<c span="3-6">
<h1>{% if case.title %}{{ case.title | escape }}{% elsif page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h1>

{% if case.description %}
<h3>Brief</h3>
{{ case.description | markdownify }}
{% endif %}
</c>
<c span="7-8">
<h4>Details</h4>
<ul>
<li>budget {{ case.budget }}</li>
<li>timeline {{ case.project_timeframe }}</li>
<li>involvement {{ case.role_timeframe }}</li>
</ul>
<ul>
{% for tag in case.tags %}
<li>{{ tag }}</li>
{% endfor %}
</ul>
</c>
<c></c>
</grid>

<grid columns="8" columns-s="1">
<c></c>
<c span="2-7">

{% if case.challenge %}
<h3>Challenge</h3>
{% for thing in case.challenge.media %}
{% include media.html %}
{% endfor %}
{{ case.challenge.description | markdownify }}
{% endif %}

{% if case.research %}
<h3>Research</h3>
{% for thing in case.research.media %}
{% include media.html %}
{% endfor %}
{{ case.research.description | markdownify }}
{% endif %}

{% if case.highlights %}
<h3>Highlights</h3>
{% for thing in case.highlights.media %}
{% include media.html %}
{% endfor %}
{{ case.highlights.description | markdownify }}
{% endif %}

{% if case.validation %}
<h3>Validation</h3>
{% for thing in case.validation.media %}
{% include media.html %}
{% endfor %}
{{ case.validation.description | markdownify }}
{% endif %}

{% if case.learnings %}
<h3>Learnings</h3>
{% for thing in case.learnings.media %}
{% include media.html %}
{% endfor %}
{{ case.learnings.description | markdownify }}
{% endif %}

{% if case.results %}
<h3>Results</h3>
{% for thing in case.results.media %}
{% include media.html %}
{% endfor %}
{{ case.results.description | markdownify }}
{% endif %}
</c>
<c></c>
</grid>