{% assign era = site.data.work | where: "title", page.title %}
{% for item in era %}
    <img src="{{ item.image }}" alt="{{ item.alt_text }}" width="50%" />
    <div class="card-deck">
      {% for case in item.cases %}
        <a href="{{ site.baseurl }}{{ case.url }}">
          <div class="card card-home">
            <img src="{{ case.image }}" alt="{{ case.alt_text }}" width="50%"/>
            <div class="card-body">
                <h2>{{ case.title }}</h2>
                <p>{{ case.role }}, {{ case.role_timeframe }}</p>
            </div>
          </div>
        </a>
      {% endfor %}

    </div>
{% endfor %}
