
{% assign era = site.data.work[current_index] %}
{% assign next = site.data.work[next_index] %}
{% assign previous = site.data.work[previous_index] %}

<c span="2">
<nav>
  <ul class="gallery">
    {% for item in site.data.navigation.primary %}
      <a href="{{ site.baseurl }}{{ item.url }}">
        <li>{{ item.text}}</li>
      </a>
    {% endfor %}
      <li><a href="{{ site.baseurl }}{{ previous.url }}"><i class="fas fa-chevron-circle-left"></i></a></li>
      <li><a href="{{ site.baseurl }}{{ next.url }}"><i class="fas fa-chevron-circle-right"></i></a></li>
  </ul>
</nav>
</c>
<c span="3-5">
{% if page.title != null %}
<h2>{{page.title}}</h2>
{% endif%}
</c>
<c></c>
<c></c>
<c></c>
</grid>

<grid columns="8">
<c span="row">

<img src="{{ era.image }}" alt="{{ era.alt_text }}" />
</c>
</grid>

<grid columns="8">
<c></c>
<c span="2-7">
<h3>Description</h3>
{% if era.description != null %}
{{ era.description | markdownify  }}
{% endif %}
</c>
<c></c>
</grid>

