
{% assign era = site.data.work[current_index] %}
{% assign next_era = site.data.work[next_index] %}
{% assign previous_era = site.data.work[previous_index] %}
<nav>
  <ul>
    {% for item in site.data.navigation.primary %}
      <a href="{{ site.baseurl }}{{ item.url }}">
        <li>{{ item.text}}</li>
      </a>
    {% endfor %}
  <li><a href="{{ site.baseurl }}{{ previous_era.url }}">Back to {{ previous_era.title }}</a></li>
  <li><a href="{{ site.baseurl }}{{ next_era.url }}">Next up {{ next_era.title }}</a></li>
  </ul>
</nav>
</div><div class="pure-u-1 pure-u-md-2-3 prem">
{% if page.title != null %}
<h1>{{page.title}}</h1>
{% endif%}

<ul title="other work">
</ul>
<img src="{{ era.image }}" alt="{{ era.alt_text }}" class="pure-img" />
{% if era.description != null %}
{{ era.description | markdownify  }}
{% endif %}

<h2>Case studies</h2>
{% for case in era.cases %}
  <a href="{{ site.baseurl }}{{ case.url }}">
      <img src="{{ case.image }}" alt="{{ case.alt_text }}" class="pure-img" />
        <h2>{{ case.title }}</h2>
  </a>
  <p>{{ case.challenge.description | markdownify }}</p>
  <ul>
    {% for tag in case.tags %}
    <li>{{ tag }}</li>
    {% endfor %}
  </ul>
{% endfor %}

